In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [28]:
data=pd.read_csv("Churn_Modelling.csv")

In [29]:
data = data.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [30]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [31]:
from sklearn.preprocessing import OneHotEncoder


onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoder, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [32]:
data = pd.concat([data.drop('Geography',axis=1), geo_encoded_df], axis=1)

In [33]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [34]:
x=data.drop(['Exited'], axis=1)
y=data['Exited']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [35]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [36]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [37]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [38]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\DIGVIJAY\OneDrive\Project\GenAI\python\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [39]:
(x_train.shape[1],)

(12,)

In [41]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]
)

WARNING:tensorflow:From c:\Users\DIGVIJAY\OneDrive\Project\GenAI\python\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [42]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [44]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [45]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [46]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [47]:
### Train the model
history=model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\DIGVIJAY\OneDrive\Project\GenAI\python\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\DIGVIJAY\OneDrive\Project\GenAI\python\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 9ms/step - loss: 0.3995 - accuracy: 0.8335 - val_loss: 0.3448 - val_accuracy: 0.8530
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3541 - accuracy: 0.8533 - val_loss: 0.3469 - val_accuracy: 0.8580
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3477 - accuracy: 0.8579 - val_loss: 0.3480 - val_accuracy: 0.8605
Epoch 4/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3408 - accuracy: 0.8615 - val_loss: 0.3405 - val_accuracy: 0.8595
Epoch 5/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3382 - accuracy: 0.8614 - val_loss: 0.3389 - val_accuracy: 0.8620
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3374 - accuracy: 0.8635 - val_loss: 0.3474 - val_accuracy: 0.8510
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3355 - accuracy: 0.8624 - val_loss: 0.3539 - val_accuracy: 0.8580
Epoch 8/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3325 - accuracy: 0.8640 - val_loss: 0.3375 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3320 - accuracy: 0.8645 - val_loss: 0.3438 - val_accuracy: 0.8615
Epoch 10/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3293 - accuracy: 0.8639 - val_loss: 0.3420 - val_accuracy: 0.8625
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3286 - accuracy: 0.8655 - val_loss: 0.3444 - val_accuracy: 0.8605
Epoch 12/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3237 - accuracy: 0.8679 - val_loss: 0.3461 - val_accuracy: 0.8630
Epoch 13/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3218 - accuracy: 0.8655 - val_loss: 0.3464 - val_accuracy: 0.8610
Epoch 14/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3224 - accuracy: 0.8681 - val_loss: 0.3526 - val_accuracy: 0.8590
Epoch 15/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3180 - accuracy: 0.8686 - val_loss: 0.3503 - val_accuracy: 0.8600
Epoch 16/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3163 - accuracy: 0.8696 - val_loss: 0.3544 - val_accuracy: 0.8595
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3167 - accuracy: 0.8701 - val_loss: 0.3506 - val_accuracy: 0.8585
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3115 - accuracy: 0.8699 - val_loss: 0.3480 - val_accuracy: 0.8580

In [48]:
model.save('model.h5')

c:\Users\DIGVIJAY\OneDrive\Project\GenAI\python\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [51]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [52]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 9844), started 0:02:49 ago. (Use '!kill 9844' to kill it.)